#mainWrapper
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 110vh;
  
}

#mainContainer
{
    height : 110vh;
    width : 100%;
    padding : 0px;
    
    display: flex;
    justify-content: flex-start;

}
